@import url('../../App.css');

.skills {
    background-color: var(--tertiary-light);
    color: var(--tertiary);
    padding: 3em;
    margin-top: 5em;
}

.contact-div {
    margin: 3em 0;
    background-color:var(--primary-light);
    padding: 3em 2em;
}

.contact-heading {
    color: var(--primary);
}
