:root {
  --primary: #08114d;
  --secondary: #f2f3fa;
  --tertiary: #62657a;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: var(--tertiary);
}

.subtitle {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  color: var(--tertiary);
}

.logo {
  width: 100%;
}
