@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --green: #1ed760;
    --dark-gray: #181818;
    --light-gray: #444;
    --padding: 3%;
    --half-padding: 1.5%;
}

html {
    height: 100%;
}

.gradient-background {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, var(--dark-gray), var(--green));
}

.gray-background {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: var(--light-gray);
}

.loader {
    border: 15px solid var(--light-gray);
    border-top: 15px solid var(--green);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 1em auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.home {
    margin: 100px auto;
    width: 40%;
    background-color: white;
    color: var(--dark-gray);
    border: 1px solid white;
    border-radius: 3px;
}

.home h1 {
    margin: 5%;
}

#logo {
    width: 40%;
    margin-top: 2%;
    margin-bottom: 8%;
    border: 3px solid var(--green);
    border-radius: 10px;
    cursor: pointer;
}

#dashboard-background {
    margin: 4%;
    padding: 0;
    background-color: var(--dark-gray);
    color: white;
    text-align: left;
    border: 5px solid var(--green);
    border-radius: 5px;
}

#welcome {
    font-size: 20px;
    margin: 5px 0;
    padding: 0 var(--padding);
}

#dashboard-background h1 {
    font-size: 4em;
    padding: var(--padding);
    padding-bottom: 0;
}

#dashboard-background h3 {
    font-size: 2em;
    padding: 0 var(--padding);
}

.showcase {
    display: flex;
    flex-flow: row wrap;
    margin: 0 var(--half-padding);
}

.holder {
    width: 47%;
    margin: 0 var(--half-padding);
    margin-bottom: var(--padding);
}

@media screen and (min-width: 800px) {
    .holder {
        width: 30%;
    }
}

@media screen and (min-width: 1000px) {
    .holder {
        width: 22%;
    }
}

@media screen and (min-width: 1200px) {
    .holder {
        width: 17%;
    }
}

.primary, .secondary {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary {
    font-size: 20px;
    padding-bottom:  0.3em;
}

.secondary {
    font-size: 16px;
}

.photo {
    margin: 0;
    padding: 0;
    width: 100%
}

.list {
    font-size: 25px;
    padding: 0 var(--padding);
}

.genre-title {
    margin-bottom: 0.25em;
}

.list ol {
    margin: 0;
}

.list ol li {
    padding: 3px 0;
}