@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Press+Start+2P&display=swap");

:root {
  --primary: #08114d;
  --secondary: #f2f3fa;
  --tertiary: #62657a;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 3% 10% 10% 10%;
}

.photo {
  width: 20em;
  border-radius: 50%;
  border: 5px solid var(--tertiary);
}

.name {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2em;
  margin-bottom: 0.25em;
}

.heading {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  padding: 0 1em;
}

.text {
  font-size: larger;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.section {
  margin-top: 5em;
}

.bubble {
  display: inline-flex;
  align-items: center;
  background-color: var(--tertiary);
  color: var(--secondary);
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 0.3em;
}
